body
{
background-color: White;
color: Black;
}

main
{ background-color: White;
min-height: 550px; }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F8BEC5;
}

li {
    float: left;
}


li a:hover:not(.active) {
    background-color: #FF978C;
}

.active {
    background-color: #F7816E;
}

.title{
  color: #FF978C;
}

.gallery{
image-align: center
}

h2 {
    border-bottom: 5px solid #F8BEC5;
}
